<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/header ::head_base}">
    <title id="pageTitle">Admin Dashboard</title>
</head>

<body>
    <div th:replace="~{fragments/header ::navbar}">The header should go here</div>
    This is the admin dashboard.
    <p>
        Add options to import/export using .csv file.
    </p>
    <form
        action="#"
        hx-target="next #searchresult"
        hx-include="this"
        hx-get="/manage/admin/userAccounts"
        hx-trigger="load, change changed delay:0.5"
        >
        Search options for user accounts.
        <label for="email">Email</label>: <input id="email" name="email" type="text">
    </form>
    <p id="searchresult">
        UserAccounts table with option to edit perms.
    </p>
</body>

</html>