<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/header ::head_base}">
    <title id="pageTitle">Items Table</title>
</head>

<body id="root" th:fragment="itemsTable">
    <table name="itemsTable">
        <tr>
            <td>Barcode Number</td>
            <td>Notes</td>
            <td>Location</td>
            <td>Availability</td>
            <td>Edit Options</td>
        </tr>
        <tr th:each="rowData : ${rowDTOs}">
            <td th:text="${rowData.item.barcode}"></td>
            <td th:text="${rowData.item.notes}"></td>
            <td>
                <span th:if="${rowData.item.location} != null" th:text="${rowData.item.location.name}"></span>
                <span th:if="${rowData.item.location} == null">null</span>
            </td>
            <td>
                <span th:if="${rowData.checkoutRecord} != null">
                    Checked out by: <span th:text="${rowData.checkoutRecord.recipientName}"></span>
                </span>
                <span th:if="${rowData.checkoutRecord} == null">Available</span>
            </td>
            <!-- <td th:text="${item.availability}"></td> -->
            <td>
                <form method="get" th:action="@{/manage/inventoryItem/edit}">
                    <input type="hidden" name="item_id" th:value="${rowData.item.id}">
                    <button type="submit">Edit Copy (WIP)</button>
                </form>
                <form method="post" th:action="@{/api/manage/deleteItem}">
                    <input type="hidden" name="item_id" th:value="${rowData.item.id}">
                    <button type="submit" onclick="return confirm('Confirm Deleting Item?');">Delete Copy (WIP)</button>
                </form>
                <form th:if="${rowData.checkoutRecord} == null" method="get" th:action="@{/manage/checkout}" th:object="${rowData}">
                    <input type="hidden" name="item_id" th:value="${rowData.item.id}">
                    <button type="submit">Checkout</button>
                </form>
                <form th:if="${rowData.checkoutRecord} != null" method="post" th:action="@{/manage/checkout/return}" th:object="${rowData}">
                    <input type="hidden" name="checkoutRecord_id" th:value="${rowData.checkoutRecord.id}">
                    <button type="submit">Return</button>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>