<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/header ::head_base}">
    <title id="pageTitle">Items Table</title>
</head>

<body id="root" th:fragment="itemsTable">
    <table name="itemsTable">
        <tr>
            <td>Barcode Number</td>
            <td>Notes</td>
            <td>Location</td>
            <td>Availability</td>
            <td>Edit Options</td>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.barcode}"></td>
            <td th:text="${item.notes}"></td>
            <td>
                <span th:if="${item.location} != null" th:text="${item.location.name}"></span>
                <span th:if="${item.location} == null">null</span>
            </td>
            <td></td>
            <!-- <td th:text="${item.availability}"></td> -->
            <td>
                <form method="get" th:action="@{/manage/inventoryItem/edit}">
                    <input type="hidden" name="item_id" th:value="${item.id}">
                    <button type="submit">Edit Copy (WIP)</button>
                </form>
                <form method="post" th:action="@{/api/manage/deleteItem}">
                    <input type="hidden" name="item_id" th:value="${item.id}">
                    <button type="submit" onclick="return confirm('Confirm Deleting Item?');">Delete Copy (WIP)</button>
                </form>
                <form method="get" th:action="@{/manage/checkout}">
                    <input type="hidden" name="item_id" th:value="${item.id}">
                    <button type="submit">Checkout</button>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>