<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=yes />
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="style.css" />
    <title>WUDGames Website</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js"
        integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/htmx.push-url-w-params.js"></script>
</head>

<body id="root">
    <div th:replace="~{fragments/header ::navbar}">The header should go here</div>
    <a sec:authorize="hasRole('PHYSICAL_INVENTORY_MANAGER')" href="/manage/inventory/create">
        <button>Create Item</button>
    </a>
    <br>
    <span class="dropdown-menu">
        <label class="dropdown-menu__toggle" for="type-toggle">
            Type Filters
        </label>
        <input class="dropdown-menu__input" type='checkbox' id="type-toggle">
        <div class="dropdown-menu__content">
            <form hx-target="#filterOptions" hx-get="/library/filterOptions" hx-trigger="load, change delay:0.5" hx-include="this">
                <!-- This is the description type, such as board game or video game is selected. -->
                Description type selection
                <div>
                    <label for="board-game-type">Board Game</label>
                    <input type="checkbox" name="type" value="Board Game" id="board-game-type" checked>
                </div>
                <div>
                    <label for="board-game-expansion-type">Board Game Expansion</label>
                    <input type="checkbox" name="type" value="Board Game Expansion" id="board-game-expansion-type" checked>
                </div>
                <div>
                    <label for="video-game-type">Video Game</label>
                    <input type="checkbox" name="type" value="Video Game" id="video-game-type">
                </div>
                <!-- Add other description types here -->
            </form>
        </div>
    </span>
    <span id="filterOptions"></span>
    <div th:insert="~{search/result :: searchresult}" class="searchresult"></div>
</body>

</html>