<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=yes />
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="style.css" />
    <title>WUDGames Website</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js"
        integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/htmx.push-url-w-params.js"></script>
</head>

<body id="root">
    <div th:if="${param.original_invalid_uri != null}">
        <p th:text="${param.original_invalid_uri}">Invalid URI</p>
    </div>
    <div th:replace="~{fragments/header ::navbar}">The header should go here</div>
    <a sec:authorize="hasRole('PHYSICAL_INVENTORY_MANAGER')" href="/manage/inventory/create">
        <button >Create Item</button>
    </a>
    <div>This should be filter options</div>
    Some query text felid: <input name="searchterm" type="text" th:value="${param.searchterm}"/>
    Tags (WIP): <input name="tags" type="text" th:value="${param.tags}"/>
    <button
        hx-target="next .searchresult"
        hx-get="/api/search"
        hx-trigger="click"
        hx-include="[name='searchterm'],[name='tags']"
        hx-ext="push-url-w-params"
        data-push-url="/library">
        Refresh
    </button>
    <div th:insert="~{search/result :: searchresult}" class="searchresult"></div>
</body>

</html>