<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/header ::head_base}">
    <title id="pageTitle">Item Search</title>
</head>

<body id="root">
    <div>This should be filter options</div>
    <label for="searchterm">query text felid</label>: <input id="searchterm" name="searchterm" type="text" th:value="${param.searchterm}"/>
    <label for="tags">Tags (WIP)</label>: <input id="tags" name="tags" type="text" th:value="${param.tags}"/>
    <button
        hx-target="next .searchresult"
        hx-get="/api/search"
        hx-trigger="click"
        hx-include="[name='searchterm'],[name='tags']"
        hx-ext="push-url-w-params"
        data-push-url="/library">
        Refresh
    </button>
    <div th:insert="~{search/result :: searchresult}" class="searchresult"></div>
</body>

</html>