<!DOCTYPE html>
<html lang="en">

<head th:include="~{fragments/header ::head_base}">
    <title id="pageTitle">Create Item</title>
</head>

<body id="root">
    <div th:replace="~{fragments/header ::navbar}">The header should go here</div>
    <div>This is the create items page.</div>
    <form action="/api/description/create" method="post" th:object="${new_item}">
        <select>
            <option th:each="typeoption: ${type_options}" th:value="${typeoption}" th:text="${typeoption}"></option>
        </select>
        <label for="name">Name</label>: <input id="name" type="text" th:field="*{name}" />
        <label for="description">Description</label>: <input id="description" type="text" th:field="*{description}" />
        <input type="submit" value="Create">
    </form>
</body>

</html>