/* This is the default .css file for the website. These classes can be used anywhere on the website. */

/* Helpful guild about flex boxes: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

:root {
    --color-primary: #8872B3;
    --color-secondary: #008445;
    --color-accent: #00D168;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;

    --background-color: #ffffff;
    --primary-background: hsl(260, 30%, 45%);

    --text-on-background: #333333;
    --text-on-primary: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-on-background);
    background-color: var(--background-color);
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.img--heightconstrained {
    max-height: 100%;
    object-fit: contain;
}

@media (width >=500px) {
    .media {
        display: grid;
        grid-template-columns: fit-content(200px) 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "image content"
            "image footer";
        /*gap: 20px;
    /*margin-bottom: 4em;*/
        padding: 10px;
    }

    .media--flip {
        grid-template-columns: 1fr fit-content(250px);
        grid-template-areas:
            "content image"
            "footer image";
    }

    .img {
        grid-area: image;
    }

    .content {
        grid-area: content;
        margin: 0 5px;
    }

    .content--oneline {
        align-self: center;
        vertical-align: middle;
    }

    .footer {
        grid-area: footer;
    }
}

.navbar {
    --nav-bar-height: 65px;
    min-height: var(--nav-bar-height);
    /* Navbar wraps vertically for small display widths */
    font-size: larger;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--text-on-primary);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.navbar A:any-link {
    text-decoration: none;
    color: var(--text-on-primary);
}

.navbar A:hover {
    color: var(--color-accent);
}

.navbar__links {
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar__logo {
    margin: 0px;
    padding: 7px;
    height: var(--nav-bar-height);
    background-color: var(--primary-background);
    align-self: stretch;
}

.navbar__option {
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    margin: 5px 0.6rem;
    white-space: nowrap;
    background-color: var(--primary-background);
}

.navbar__option:hover {
    outline-width: 3px;
    outline-style: solid;
    outline-color: var(--color-accent);
}

.profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Is in between the left (links) and right aligned (user profile name/image) elements */
.navbar__separator {
    flex-grow: 1;
}

.navbar__username {
    margin: 5px;
}

.tilegrid {
    --max-tile-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--max-tile-width));
    margin: 5px;
    gap: 10px;

    .tile {
        max-width: var(--max-tile-width);
        height: 300px;
    }
}

.tile {
    border: 5px solid var(--color-secondary);
    border-radius: 20px;
    box-shadow: var(--text-on-background);
    padding: auto;
    overflow: hidden;
    .img {
        max-width: 100%;
    }
}

.overlay {
    
}

.overlay__content {
    display: none;
}

.overlay:hover .overlay__content {
    display: inherit;
    position: absolute;
    z-index: 2;
}

.overlay:focus-within .overlay__content {
    display: inherit;
    position: absolute;
    z-index: 2;
}

.dropdown-menu {
    input:checked + .dropdown-menu__content { display: block; }
}

.dropdown-menu__content {
    display: none;
}

