<!DOCTYPE html>
<html>

<head th:fragment="head_base">
    <title th:include="~{:: #pageTitle}">WUDGames Website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=yes />
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="http://localhost:8080/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js"
        integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/htmx.push-url-w-params.js"></script>
</head>

<body>
  <div th:fragment="navbar" class="navbar">
    <a href="/" class="navbar__logo" >
      <img class="img--heightconstrained" src="http://localhost:8080/images/WhiteColorLogo.png" alt="Games Committee Wisconsin Union Directorate">
    </a>
    <nav class="navbar__links">
      <a class="navbar__option" href="/library">Library</a>
      <a class="navbar__option">Option 2</a>
      <a class="navbar__option">Option 3</a>
      <a sec:authorize="hasRole('PHYSICAL_INVENTORY_MANAGER')" class="navbar__option" href="/manage/inventory/physicalItems">Manage
        Inventory</a>
      <div class=navbar__separator></div>
      <a class="navbar__option" href="/myuser">
        <div class="navbar__username">
          <div th:if="${session.user_name != null}" th:text="${session.user_name}">User Name</div>
          <div th:if="${session.user_name == null}">Sign In</div>
        </div>
        <img th:if="${session.user_profile_picture != null}" th:src="${session.user_profile_picture}" alt="User Profile Picture" width="50"
          height="50" class="img profileIcon">
      </a>
    </nav>
  </div>
</body>

</html>