<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/header ::head_base}">
    <title id="pageTitle">Management Options</title>
</head>

<body id="root" th:fragment="managementOptions (disWithAvailability)">
    <span
        th:if="${disWithAvailability.description instanceof T(edu.wisc.wud.games.wud_games_website.board_game_dis.BoardGameDisDTO) ||
        disWithAvailability.description instanceof T(edu.wisc.wud.games.wud_games_website.equipment_dis.EquipmentDisDTO) ||
        disWithAvailability.description instanceof T(edu.wisc.wud.games.wud_games_website.game_console_dis.GameConsoleDisDTO)}"
        sec:authorize="hasRole('PHYSICAL_INVENTORY_MANAGER')">
        <a th:href="@{~/manage/inventory/update/{id}(id=${disWithAvailability.description.id})}">
            <button>Edit</button>
        </a>
        <form method="post" action="/manage/description/delate"
            th:if="${disWithAvailability.allItems.size() == 0}">
            <input type="hidden" name="id" th:value="${disWithAvailability.description.id}">
            <button type="submit" onclick="return confirm('Confirm Deleting Description?');">
                Delete
            </button>
        </form>

    </span>

</body>

</html>