<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
  <title>WUDGames Website</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable=yes />
  <meta name="robots" content="index,follow">
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div th:fragment="tile (type_displayed)" class="media tile overlay">
    <div class="overlay__content">
      <a sec:authorize="hasRole('HOST')">
        <button>Checkout</button>
      </a>
      <a sec:authorize="hasRole('HOST')">
        <button>Return</button>
      </a>
      <span th:if="${tiledata instanceof T(edu.wisc.wud.games.wud_games_website.board_game_dis.BoardGameDisDTO)}">this is a BoardGameDTO</span>
      <span sec:authorize="hasRole('PHYSICAL_INVENTORY_MANAGER')">user has role PHYSICAL_INVENTORY_MANAGER</span>
      <span th:if="${tiledata instanceof T(edu.wisc.wud.games.wud_games_website.board_game_dis.BoardGameDisDTO)}" sec:authorize="hasRole('PHYSICAL_INVENTORY_MANAGER')">
        <a>
          <button>Edit</button>
        </a>
        <a>
          <button>Delete</button>
        </a>
      </span>
    </div>
    <div class="content">
      <h3 th:text="${tiledata.name}">Name</h3>
      <p th:text="${tiledata.description}">description</p>
    </div>
    <img th:src="${tiledata.imageUrl}" alt="Game Box Art" class="img"
      src="https://cf.geekdo-images.com/TrBdhHzDw10cTw26V2QXkw__imagepage/img/ooPOAjbwO5DjZOWwzVpwe7A5jw8=/fit-in/900x600/filters:no_upscale():strip_icc()/pic184991.jpg">
  </div>
  </div>

</body>

</html>