<!DOCTYPE html>
<html lang="en">

<head th:include="~{fragments/header ::head_base}">
    <title id="pageTitle">Create Item</title>
</head>

<body id="root">
    <div th:replace="~{fragments/header ::navbar}">The header should go here</div>
    <div>This is the create items page.</div>
    <base href="<scheme>://<netloc>/api/">
    <select
        name="description_type"
        hx-target="next #formoptions"
        hx-get="/api/manage/descriptions/formoptions"
        hx-trigger="load, change">
        <option th:each="typeoption: ${type_options}" th:value="${typeoption}" th:text="${typeoption}"></option>
    </select>
    <form id="formoptions">This will be the create description form.</form>
</body>

</html>